/**
 * Demo Importer Styles.
 */

#wpbody-content + .ocdi {
	margin-top: -65px;
}

.appearance_page_one-click-demo-import #wpfooter,
.ocdi__content-container-content .ocdi-install-plugins-content-content .plugin-item.plugin-item-wpforms-lite,
.ocdi__content-container-content .ocdi-install-plugins-content-content .plugin-item.plugin-item-all-in-one-seo-pack,
.ocdi__content-container-content .ocdi-install-plugins-content-content .plugin-item.plugin-item-google-analytics-for-wordpress,
.ocdi__content-container-content .ocdi-install-plugins-content-content .ocdi-content-notice,
.ocdi__gl > hr:first-child,
h1.ocdi__title-container-title + a,
.ocdi__theme-about-screenshots,
.ocdi__theme-about .top-content {
	display: none !important;
}

.ocdi__content-container .ocdi__theme-about .ocdi-import-mode-switch {
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 2.15384615;
	min-height: 30px;
	margin: 0;
	padding: 0 10px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
	transition: all 0.3s;
}

.ocdi__theme-about .ocdi-import-mode-switch:hover,
.ocdi__theme-about .ocdi-import-mode-switch:focus {
	background: #2271b1;
	border-color: #2271b1;
	color: #fff;
}

.ocdi__intro-text .about-description {
	color: #333;
	font-size: 20px;
	line-height: 1.65;
	font-weight: 600;
	margin-bottom: 0;
}

.ocdi__intro-text {
	display: flex;
	background: #fff;
	margin-bottom: 50px;
	padding: 20px 5px 20px 20px;
	border: 1px solid #e3e3e3;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	border-left: 6px solid #2271b1;
	justify-content: space-between;
	align-items: center;
}

.ocdi__intro-text .col {
	padding-left: 15px;
	padding-right: 15px;
}

.ocdi__intro-text .intro-text-col {
	max-width: 80%;
	flex: 0 0 80%;
	padding-right: 100px;
}

.ocdi__intro-text .intro-btn-col {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	max-width: 17%;
	flex: 0 0 17%;
}

.ocdi__intro-text .intro-btn-col .button {
	font-size: 16px;
	line-height: 19px;
	padding: 10px 18px;
	border-radius: 0;
	min-width: 210px;
	text-align: center;
	box-shadow: none !important;
	transition: all 0.3s;
}

.ocdi__intro-text .intro-btn-col .button:first-child {
	margin-bottom: 10px;
}

.ocdi__intro-text .about-description a {
	text-decoration: none;
	color: #1b3452;
}

.ocdi .ocdi__title-container {
	justify-content: center;
}

.ocdi__gl .ocdi__gl-item-title,
.ocdi__gl-item .ocdi__gl-item-buttons,
.ocdi__gl .ocdi__gl-item img {
	transition: opacity .2s ease-in-out;
}

.ocdi__gl-item .ocdi__gl-item-buttons {
	display: block;
	opacity: 0;
	position: relative;
	z-index: 10;
}

.ocdi__gl .ocdi__gl-item:hover img {
	opacity: .4;
}

.ocdi__gl-item:hover .ocdi__gl-item-buttons {
	opacity: 1;
}

.ocdi__gl-item-footer {
	position: relative;
}

.ocdi__gl .ocdi__gl-item-title {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.ocdi__gl .ocdi__gl-item:hover .ocdi__gl-item-title {
	display: block;
	opacity: 0;
}

.demo-importer-system-status .demo-importer-status-table {
	margin-bottom: 1em;
}

.demo-importer-system-status .demo-importer-status-table tbody td:first-child {
	width: 25%;
}

#system-status-report textarea {
	width: 100%;
	height: 350px;
	padding: 1em;
}

.demo-importer-status-report .submit {
	margin: 1em 0 0;
	padding: 0;
}

.demo-importer-faq-wrapper .faq p {
	margin-bottom: 0;
}

.ocdi__intro-text > * {
	box-sizing: border-box;
}

.ocdi__intro-text .intro-btn-col .btn-wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.demo-importer-system-status h1 {
	height: 30px;
	background-color: #ffffff;
	padding: 20px 30px;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: center;
	font-size: 24px;
	line-height: 29px;
	font-weight: 700;
	margin-bottom: 30px;
	width: calc(100% + 40px);
	margin-left: -20px;
	margin-right: -20px;
	margin-top: -10px;
	text-align: center;
}

.demo-importer-system-status h2 {
	padding: 10px 20px;
	background: #fff;
	margin-top: 30px;
	border: 1px solid #c3c4c7;
	border-left: 4px solid #2271b1;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
}

.demo-importer-system-status .demo-importer-status-table td.error {
	width: 20%;
	font-weight: 600;
	color: red;
}

.demo-importer-system-status .demo-importer-status-table th {
	font-weight: 600;
}

.demo-importer-system-status .demo-importer-status-table td .data-server span {
	padding: 5px 10px;
	background: #28a745;
	color: #fff;
	border-radius: 4px;
}

.demo-importer-system-status .demo-importer-status-table td .data-server span.failure {
	background: #dc3545;
}

.ocdi-install-plugins-content-header {
	padding: 20px 5px 20px 20px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	border-left: 6px solid #2271b1;
	margin-bottom: 30px;
	position: relative;
}

.ocdi-install-plugins-content-header::before {
	content: "";
	position: absolute;
	left: -10px;
	bottom: -31px;
	width: calc(100% + 20px);
	height: 30px;
	background: #f1f1f1;
}

.ocdi-install-plugins-content-header + .ocdi-install-plugins-content-content {
	border-top: 1px solid #dddddd;
}

@media only screen and (min-width: 1440px) {
	.ocdi__intro-text .intro-text-col {
		padding-right: 0;
	}
}

@media only screen and (min-width: 1640px) {
	.ocdi__gl .ocdi__gl-item {
		flex-basis: calc(25% - 30px);
	}
}

@media only screen and (min-width: 2000px) {
	.ocdi__gl .ocdi__gl-item {
		flex-basis: calc(20% - 30px);
	}
}
